    <%- include ("componentes/head") %>
    <body>
        
        <article class="pagina-404">
            <h1>404</h1>
        </article>
        
            
            
        
    </body>

</html>