<%- include ("componentes/head") %>
    <body>
        <article class="calculadora-mercado-objetivo">
            <header>
                <h1>Aprende a Definir tu Mercado Objetivo en Perú con esta Calculadora Gratis</h1>
                <p>Definir el mercado objetivo es una de las etapas más importantes en la evaluación de proyectos, ya que permite identificar el tamaño del mercado. A través de este artículo y nuestra calculadora gratuita, podrás definir tu público ideal en Perú y aplicar de manera práctica lo aprendido en tus estudios.</p>
                <nav></nav>
            </header>

            <section class=mercado id="mercado-potencial">
                <h2> 1.Mercado Potencial</h1>
                <p> El mercado potencial se determina a partir de tus criterios de segmentación.Al evaluar un proyecto, por ejemplo; del lanzamiento de un nuevo producto o negocio, los más comunes suelen ser estos tres:</p>
                    <ul>
                        <li> <strong>Geográfico:</strong>Algun distrito del Perú por ej.Lima</li>
                        <li> <strong>Demografico:</strong>Edad y sexo de tu publico objetivo ej.Mujeres entre 30 y 45 años</li>
                        <li> <strong>Económico:</strong>Cuando pertenece algun nivel socioeconomico ej.NSE A Y B</li>
                    </ul>
                

                <label>Población total del distrito del Perú:</label> <p class="explanation">Ingrese la población del distrito seleccionado, según los datos del INEI.</p>
                <input type="number" name="potencial" id="lugar" placeholder="Ej: 41335"/> <a href="https://estadist.inei.gob.pe/report" target="_blank"><button id="boton-lugar">Consultar Poblacion en el INEI</button ></a> <a href="https://www.youtube.com/watch?v=vZmY19VKz88" target="_blank"><button id="boton-tutorial-poblacion-INEI">Aprende a calcular población INEI</button></a><br>
                <br>

                <label>% de la población segùn el sexo:</label>
                <p class="explanation">Introduzca el porcentaje de sexo basado en los datos del INEI. Para proyectos que abarcan ambos sexos, utilice el numero 100</p>
                <input type="number" name="potencial" id="sexo" placeholder="ej:18.45" max="100"/> <a href="https://estadist.inei.gob.pe/dashboard/demografico" target="_blank">
                    <button id="boton-sexo">Consultar Poblacion en el INEI</button></a><br>
                <br>

                <label> % de la población segun el rango de edad de la poblacion:</label>
                <p class="explanation">Proporcione el porcentaje del rango de edad basado en los datos del INEI</p>
                <input type="number" name="potencial" id="edad" placeholder="ej:35.76" max="100"/><a href="https://estadist.inei.gob.pe/dashboard/demografico" target="_blank">
                    <button id="boton-edad">Consultar Poblacion en el INEI</button></a><br>
                <br>

                <label>% del nivel socioeconómico:</label>
                <p class="explanation">Introduzca el porcentaje del NSE basado en los datos del cpi del año que estas proyectando</p>
                <input type="number" name="potencial" id="nse"placeholder="ej:18.43" max="30"/><a href="https://cpi.pe/banco/estadisticas-poblacionales.html" target="_blank">
                    <button id="boton-nse">Consultar % del NSE en cpi </button></a>
                    <a href="https://www.youtube.com/watch?v=FXyHy-oGyyI" target="_blank"> <button id="boton-nse">Ver explicacion en youtube </button></a>
                <button id="boton-mercado-potencial">Calcular el mercado potencial</button>
                <section class="resultado-mercado-potencial">
                    <div class="mercado-resultado" id="resultadoMercadoPotencial"></div>
                </section>     
            </section>
            <section class="mercado" id="mercado-disponible">
                <h2>2.Mercado Disponible</h2>
                <p>Es el % de personas que consumen o compran tu producto o servicio:</p>
                <label>Según encuesta aplicada a una muestra del mercado potencial:Ingresa el % de personas que consumen tu producto o servicio</label>
                <input type="number" id="consumidores" placeholder="ej:28.35" max="70"/><br>
                <button id="boton-mercado-disponible"> Calcular el mercado disponible</button>
                <section class="resultado-mercado-disponible">
                    <div class="mercado-resultado" id="resultadoMercadoDisponible"></div>
                </section>

            </section>
            <section class="mercado "id="mercado-efectivo">
                <h2>3.Mercado efectivo</h2>
                <p> Es el %  de personas que estan dispuestos a comprar tu producto o servicio</p>
                <label>Ingrese el porcentaje de personas que comprarian su producto o servicio</label>
                <input type="number" id="interesados-comprar-producto" placeholder="ej.18.25" max="70"/><br>
                <button id="boton-mercado-efectivo">Calcular el mercado efectivo</button>
                <section class="resultado-mercado-efectivo">
                    <div class="mercado-resultado" id="resultadoMercadoEfectivo"></div>
                </section>


            </section>
            <section class="mercado" id="mercado-objetivo">
                <h2>4.Mercado objetivo</h2>
                <p>Ten en cuenta que para calcular el mercado objetivo, es necesario definir la cuota de mercado. Esta se establece según la capacidad de la empresa para captar el mercado efectivo, considerando factores como la competencia, la estrategia y el posicionamiento.</p>
                <label>Ingrese el % de la cuota de mercado definida por el proyecto</label>
                <input type="number" id="clientes-potenciales" placeholder="ej.5.35" max="30"><br>
                <button id="boton-mercado-objetivo">Calcular el Mercado Objetivo </button>
                <section class="resultado-mercado-Objetivo">
                    <div class="mercado-resultado" id="resultadoMercadoObjetivo"></div>
                </section>
            </section>
        </article>
        <%- include("componentes/footer") %>
    </body>
</html>