    
    <section id="cookie-banner">
        <p>Para ofrecer las mejores experiencias,utilizamos tecnologías como las cookies para almacenar y/o acceder a la información del dispositivo.</p>
        <button id="aceptar-cookies">Aceptar cookies</button>
        <a href="./politica-cookies" target="_blank"> Politica de cookies</a> <a href="./politica-privacidad" target="_blank"> Politica de privacidad</a>
    </section>
    <link rel="stylesheet" href="./css/componentes/banner.css">  