<footer>
    <script async src="./js/main.js"></script>
    <script async src="<%= paginajs %>"></script>
    <link rel="stylesheet" href="./css/componentes/footer.css">
    <section class="contacto-footer">
        <div class="footer-titulo">
            <h2>Contacto</h2>
        </div>
            <div class="footer-celular">
                <a href="https://wa.link/1jt6s0" target="_blank">
                    <img src="./imagenes/Home/logo-de-whatsapp-de-evaluacion-de-proyectos.webp" alt=" Canal de WhatsApp de ejercicios de evaluacion de proyectos"></a>  
                <h3>WhatsApp : <a href="https://wa.link/1jt6s0" target="_blank">+51964521714</a></h3>
            </div>
            <div class="footer-direccion">
                <img src="./imagenes/Home/ubicacion-profesor-de-evaluacion-de-proyectos.webp" alt=" ubicacion del profesor de evaluacion de proyectos">
                <h3><address>Dirección: 
                    AA. HH quinta julia mz g lote 15, Piura, Piura, Peru</address></h3>
            </div>
            <div class="footer-correo">
                <a href="mailto:luikiflores@gmail.com" target="_blank">
                    <img src="./imagenes/Home/correo-profesor-evaluacion-de-proyectos.webp" alt=" correo del profesor de evaluacion de proyectos"></a>
                <h3 class="texto-correo-footer">Correo:<a href="mailto:luikiflores@gmail.com">
                luikiflores@gmail.com</a></h3>
            </div>
    </section>
    
    <section class="footer-redesSociales">
            <p> Para aprender a evaluar proyectos. Puedes seguir el contenido de mi canal de YouTube</p>                   
            <a href="https://www.youtube.com/channel/UCVmIykDoM37zsdObHrTvpnA" target="_blank">
                <img src="./imagenes/Home/Youtube_logo.webp" alt=" Canal de youtube de ejercicios de evaluacion de proyectos">
            </a>                    
    </section>
     
</footer>  