/*Estilos específicos para la página  de politica de cookies */
.pagina-politica-cookies{     
    
    margin: 0%;
    background: #00215E;
    color:#f0f0f0;
    padding: 1%;
 }
 .pagina-politica-cookies h1{     
     
     text-align: center;
     font-size: 170%;
 }
 .pagina-politica-cookies h2{     
     text-align: center;
 }